[ req ]
req_extensions = v3_req
distinguished_name = req_distinguished_name
prompt = no

[ v3_req ]
basicConstraints = critical,CA:FALSE
extendedKeyUsage = serverAuth
subjectAltName = DNS:znc1.test.sacredheartsc.com,DNS:znc.test.sacredheartsc.com

[ req_distinguished_name ]
CN = znc1.test.sacredheartsc.com
